.grid-icon-vaadin {
    height: 1em;
    width: 1em;
}

.grid-icon-vaadin {
    fill: var(--lumo-contrast-40pct);
}

.grid-icon-vaadin[active] {
    fill: var(--lumo-primary-color);
}

.grid-icon-vaadin[delete] {
    fill: var(--lumo-error-color);
}

.grid-icon-vaadin[expand] {
    fill: var(--lumo-contrast-40pct);
    height: 1.8em;
}

.grid-icon-lineawesome {
    height: 1.8em;
    color: var(--lumo-secondary-text-color);
}

vaadin-grid::part(future-task) {
    font-style: oblique;
}

vaadin-grid::part(project-task) {
    background-color: var(--lumo-complementary-color-5pct-opaque);
    color: var(--lumo-complementary-color);
}

vaadin-grid::part(completed-node) {
    color: var(--lumo-tertiary-text-color);
    background-color: var(--lumo-shade-5pct-opaque);
}

vaadin-grid::part(primary-color) {
    color: var(--lumo-primary-color);
}

vaadin-grid-cell-content {
    user-select: none;
    -webkit-touch-callout:none;
}

vaadin-grid::part(exceeds-duration-limit) {
    color: var(--lumo-tertiary-text-color);
}

vaadin-grid::part(difficult-task) {
    font-weight: bold;
}

vaadin-grid::part(active-routine-step-task) {
    text-shadow: 0 0 2px white, 0 0 20px var(--lumo-primary-color);
}