.grid-icon-vaadin {
    height: 1em;
    width: 1em;
}

.grid-icon-vaadin {
    fill:
      var(--lumo-contrast-40pct);
}

.grid-icon-vaadin[active] {
    fill:
      var(--lumo-primary-color);
}

.grid-icon-vaadin[delete] {
    fill:
      var(--lumo-error-color);
}

.grid-icon-vaadin[expand] {
    fill:
      var(--lumo-contrast-40pct);
    height: 1.8em;
}

.grid-icon-lineawesome {
    height: 1.8em;
    color:
      var(--lumo-secondary-text-color);
}

vaadin-grid::part(required-task) {
    font-style:
        oblique;
}

vaadin-grid::part(project-task) {
    background-color:
      var(--lumo-complementary-color-5pct-opaque);
    color:
      var(--lumo-complimentary-color);
}

vaadin-grid::part(completed-node) {
    color:
      var(--lumo-tertiary-text-color);
    background-color:
      var(--lumo-shade-5pct-opaque);
}

vaadin-grid::part(recurring-node) {
    color:
      var(--lumo-primary-color);
}

