.routine-view {
  display: block;
  height: 100%;
}

.routine-view vaadin-grid {
  line-height: var(--lumo-line-height-m);
}

.active-routine-grid {
  --_lumo-grid-selected-row-color: ;
}

.active-routine-grid::part(selected-row-cell) {
  background-color: var(--lumo-complementary-color-5pct);
}

.routine-view .card {
  background-color: var(--lumo-shade-5pct);
  border-radius: var(--lumo-border-radius);
  box-shadow: var(--lumo-box-shadow-s);
  padding: calc(var(--lumo-space-s) * 1.5) var(--lumo-space-m);
  align-items: baseline;
}

.routine-view .card[active] {
  background-color: var(--lumo-primary-color-5pct);
}

.routine-view .bar {
  border-radius: var(--lumo-border-radius);
  border: 1px outset;
  align-items: baseline;
}

.routine-view .card-side {
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.routine-view img {
  border-radius: 50%;
  flex-shrink: 0;
  height: var(--lumo-size-m);
  margin-right: calc(var(--lumo-space-s) * 1.5);
  width: var(--lumo-size-m);
}

.routine-view .card vaadin-details-summary::part(content) {
  width: 100%;
}

.routine-view .card .header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: var(--lumo-space-xs);
}

.routine-view .card .footer {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  padding: var(--lumo-space-xs);
}

.routine-view .name {
  color: var(--lumo-primary-text-color);
  font-size: var(--lumo-font-size-l);
  font-weight: 600;
  margin-right: var(--lumo-space-s);
}

.routine-view .name-timer {
  display: flex;
  justify-content: flex-end;
  width: 5.5em;
}

.routine-view .date {
  color: var(--lumo-body-text-color);
  font-size: var(--lumo-font-size-m);
}

.routine-view .bar .timer {
  text-align: right;
  width: 6rem;
}

.routine-view .card .description {
  color: var(--lumo-secondary-text-color);
  font-size: var(--lumo-font-size-m);
  margin-bottom: var(--lumo-space-xs);
  --lumo-text-field-size: var(--lumo-size-s);
}

.routine-view .card vaadin-text-area::part(input-field) {
  background-color: var(--lumo-tint-70pct);
}

.routine-view .actions {
  align-items: center;
}

.routine-view .icon {
  color: var(--lumo-tertiary-text-color);
  height: calc(var(--lumo-icon-size-s) * 0.8);
  margin-right: var(--lumo-space-s);
  width: calc(var(--lumo-icon-size-s) * 0.8);
}

.routine-view .mood-input {
  display: flex;
  justify-content: center;
}

.routine-view .emotion-field {
  width: 25rem;
}

.routine-view .add-step-combo-box {
  width: 25rem;
}