vaadin-scroller[slot="drawer"] {
  padding: var(--lumo-space-s);
}

[slot="drawer"]:is(header, footer) {
  display: flex;
  align-items: center;
  gap: var(--lumo-space-s);
  padding: var(--lumo-space-s) var(--lumo-space-m);
  min-height: var(--lumo-size-xl);
  box-sizing: border-box;
}

[slot="drawer"]:is(header, footer):is(:empty) {
  display: none;
}

.primary-color {
    color:
      var(--lumo-primary-color);
}

.primary-color-icon {
    fill:
      var(--lumo-primary-color);
}

.unselected-color-icon {
    fill:
      var(--lumo-secondary-text-color);
}

.error-color-icon {
    fill:
    var(--lumo-error-color);
}

vaadin-multi-select-combo-box-chip {
    background-color:
    var(--lumo-primary-color-10pct);
  color:
    var(--lumo-contrast);
}

vaadin-multi-select-combo-box.grid-combo-box::part(input-field) {
  background-color:
    var(--lumo-base-color);
}

vaadin-multi-select-combo-box[opened] > input {
  width:4em
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  select,
  textarea,
  input {
    font-size: 16px;
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px;
  }
}

vaadin-grid::part(recurring-task) {
    color:
      var(--lumo-primary-color);
}

vaadin-grid::part(non-recurring-task) {
    color:
      var(--lumo-body-text-color);
}