@media (max-width: 600px) {
  .list-view .toolbar,
  .list-view .contact-grid,
  .description-column {
    display: none;
  }
}

a[highlight] {
    font-weight: bold;
    text-decoration: underline;
}